<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Ecommerce Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <style>
      .ISk-o2j  { 
        cursor: pointer; 
        display: inline-block;
      } 
      
      .hxq-dq8  { 
          cursor: pointer;
      } 
      
      .C7fEHH .\+N9xME::after { 
          content: ""; 
          height: 100%; 
          display: inline-block; 
          vertical-align: middle;
      } 
      
      ._5O-ejg { 
          margin-top: 6px;
      } 
      
      .HDv-dbh  { 
          display: inline-block; 
          vertical-align: middle;
      } 
      
      img { 
          text-decoration: none; 
          color: inherit; 
          border: none; 
          outline: none;
      } 
      
      .Lct-hcb  { 
          vertical-align: middle;
      } 
      
      .Y1H-q8v { 
          position: relative;
      } 
      
      ._5O-ejg .Wph-p4k  { 
          padding-left: 8px; 
          font-weight: 500; 
          color: #878787;
      } 
      
      .XQD-6jn { 
          line-height: normal; 
          display: inline-block; 
          color: #fff; 
          padding: 2px 4px 2px 6px; 
          border-radius: 3px; 
          font-weight: 500; 
          font-size: 12px; 
          vertical-align: middle; 
          background-color: #388e3c;
      } 
      
      .Rza-ggz { 
          margin: 2px 0 0 2px; 
          height: 10px;
      } 
      
      ._5O-ejg .Wph-p4k .hG7V\+4 { 
          color: #878787;
      }    
    </style>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header">
      <nav class="nav container">
        <a href="index.html" class="nav__logo">
          <img class="nav__logo-img" src="{{ url_for('static', filename='img/logo.svg') }}" alt="website logo"/>
        </a>
        <div class="nav__menu" id="nav-menu">
          <div class="nav__menu-top">
            <a href="index.html" class="nav__menu-logo">
              <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
            </a>
            <div class="nav__close" id="nav-close">
              <i class="fi fi-rs-cross-small"></i>
            </div>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link active-link">Documentation</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Blog</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Hire Me</a>
            </li>
          </ul>
          <div class="header__search">
            <form action="/scrape_product" method="POST" class="search__form">
              <input name="Product URL" type="url" placeholder="Search For Items..." class="form__input" required />
              <button type="submit" class="search__btn">
                <img src="{{ url_for('static', filename='img/search.png') }}" alt="search icon" />
              </button>
            </form>
          </div>          
        </div>
        <div class="header__user-actions">
          <div class="header__action-btn nav__toggle" id="nav-toggle">
            <img src="{{ url_for('static', filename='img/menu-burger.svg') }}" alt="">
          </div>
        </div>
      </nav>
    </header>

    <!--=============== MAIN ===============-->
    <main class="main">

      <!--=============== DETAILS ===============-->
      <section class="details section--lg">
        <div class="details__container container grid">
          <div class="details__group">
            <img src="{{ product_details['product_image']}}" alt="" class="details__img" style="width: 100%; height: 580px; "/>
          </div>
          <div class="details__group">
            <h3 class="details__title">{{ product_details['product_name'] }}</h3>
            <br>
            <div>
              <div class="ISk-o2j">
                  <div class="_5O-ejg HDv-dbh">
                    <span class="Y1H-q8v">
                      <div class="XQD-6jn">{{ product['Overall Rating'] }}
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg==" class="Rza-ggz">
                      </div>
                    </span>
                    <span class="Wph-p4k">
                      <span>
                      <span>{{ product['Total Ratings'] }} Ratings&nbsp;</span>
                      <span>&amp;</span>
                      <span>&nbsp;{{ product['Total Reviews'] }} Reviews</span>
                    </span></span>
                  </div>
              </div>
            </div>
            <br>
            <div class="details__price flex">
              <span class="new__price">₹{{ product_details['special_price'] }}</span>
              <span class="old__price">₹{{ product_details['original_price'] }}</span>
              <span class="save__price">{{ product_details['discount'] }}% off</span>
            </div>
            <br>
            <ul class="products__list">
              <li class="list__item flex">
                <span class="details__size-title">Expected Delivery Date: </span><p>{{ product_details['expected_delivery_date'] }}</p>
              </li>
              <li class="list__item flex">
                <span class="details__size-title">Seller Name: </span><p>{{ product_details['seller_name'] }}</p>
              </li>
              <li class="list__item flex">
                <span class="details__size-title">Seller Rating: </span><p>{{ product_details['seller_rating'] }}</p>
              </li>
              <li class="list__item flex">
                <span class="details__size-title">Positive Reviews: </span><p>{{ product_details['positive_reviews_percentage'] }}%</p>
              </li>
              <li class="list__item flex">
                <span class="details__size-title">Negative Reviews: </span><p>{{ product_details['negative_reviews_percentage'] }}%</p>
              </li>
              <li class="list__item flex">
                <span class="details__size-title">Neutral Reviews: </span><p>{{ product_details['neutral_reviews_percentage'] }}%</p>
              </li>
            </ul>
            <div class="details__color flex">
              <span class="details__color-title">Color</span>
              <ul class="color__list">
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(37, 100%, 65%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(353, 100%, 65%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(49, 100%, 60%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(304, 100%, 78%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(126, 61%, 52%)"
                  ></a>
                </li>
              </ul>
            </div>
            <div class="details__size flex">
              <span class="details__size-title">Size</span>
              <ul class="size__list">
                <li>
                  <a href="#" class="size__link size-active">M</a>
                </li>
                <li>
                  <a href="#" class="size__link">L</a>
                </li>
                <li>
                  <a href="#" class="size__link">XL</a>
                </li>
                <li>
                  <a href="#" class="size__link">XXL</a>
                </li>
              </ul>
            </div>
            <div class="details__action">
              <a href="{{ product_details['product_url'] }}" class="btn btn--sm">Buy Now</a>
            </div>
          </div>
        </div>
      </section>

      <!--=============== PRODUCTS ===============-->
      <section class="products container section--lg">
        <h3 class="section__title"><span>Related</span> Products</h3>
        <div class="products__container grid">
          {% for product in products %}
          <div class="product__item">
            <div class="product__banner">
              <a href="/product?product_name={{ product.product_name }}" class="product__images">
                <img src="{{ product.product_image }}" alt="{{ product.product_name }}" class="product__img default" />
                <img src="{{ product.product_image }}" alt="{{ product.product_name }}" class="product__img hover" />
              </a>
            </div>
            <div class="product__content">
              <!-- Pass product_name as a query parameter to the route -->
              <a href="/product?product_name={{ product.product_name }}">
                <h3 class="product__title">{{ product.product_name }}</h3>
              </a>
              <div class="product__price flex">
                <span class="new__price">₹{{ product.special_price }}</span>
                <span class="old__price">₹{{ product.original_price }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer container">
      <div class="footer__container grid">
        <div class="footer__content">
          <a href="index.html" class="footer__logo">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="" class="footer__logo-img" />
          </a>
          <div class="footer__social">
            <h4 class="footer__subtitle">Follow Me</h4>
            <div class="footer__links flex">
              <a href="#">
                <img src="{{ url_for('static', filename='img/icon-facebook.svg') }}" alt="" class="footer__social-icon"/>
              </a>
              <a href="#">
                <img src="{{ url_for('static', filename='img/icon-twitter.svg') }}" alt="" class="footer__social-icon"/>
              </a>
              <a href="#">
                <img src="{{ url_for('static', filename='img/icon-instagram.svg') }}" alt="" class="footer__social-icon"/>
              </a>
              <a href="#">
                <img src="{{ url_for('static', filename='img/icon-pinterest.svg') }}" alt="" class="footer__social-icon"/>
              </a>
              <a href="#">
                <img src="{{ url_for('static', filename='img/icon-youtube.svg') }}" alt="" class="footer__social-icon"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="copyright">&copy; 2024 Evara. All right reserved</p>
        <span class="designer">Designer by Ankit Sharma</span>
      </div>
    </footer>

    <!--=============== SWIPER JS ===============-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
